<div class="modal {{#if angry}}modal--angry {{else}}modal--neutral {{/if}}" id="{{id}}">
	<div class="row">
		<div class="col-xs-12">
			<div class="modal-title">
				{{#if title}}<span class="title"><b>{{title}}</b></span>{{/if}}
				{{#if close}}<span class="close pull-right">{{>PartialButton class="naked-button--neutral" icon="icon-system-close" action="$(this).closest('div.modal').fadeOut()"}}</span>{{/if}}
			</div>
		</div>
		<div class="col-xs-12">
			<div class="modal-body">
				{{#if body}}<span class="message"> {{body}} {{#if link}} <a href="{{{href}}}">{{link}}</a> {{/if}}</span>{{/if}}
			</div>
		</div>
		<div class="col-xs-12">
			<div class="modal-actions">
				{{#if button}}{{#each button}}<span class="modal-button pull-right">{{>PartialButton}}</span>{{/each}}{{/if}}
			</div>
		</div>
	</div>
</div>