
{{#if hasLabel}}
	<div class="mytest">
      <input class="inputMaterial" type="text" required>
      <span class="bar"></span>
      <label>{{label}}</label>
   </div>
{{else}}
   <div class="{{class}}"><input {{#if background}}class="text-input__grey"{{/if}} {{#if required}}required{{/if}} name="{{name}}" id="{{id}}" type="text" placeholder="{{placeholder}}" value="{{value}}"></div>
{{/if}}
