<form method="get" class="neu mytest" id="{{id}}" action="{{action}}">
		
{{!-- 			<p>
				<label for="user">Username</label>
				<input id="user" name="user" required minlength="3">
			</p>
			<p>
				<label for="password">Password</label>
				<input id="password" type="password" maxlength="12" name="password" required minlength="5">
			</p>
			<p>
				<input class="submit" type="submit" value="Login">
			</p>
		 --}}
	
{{#if hasLabel}}
	<div class="{{inputId}}">
      <input id="{{inputId}}" class="inputMaterial" type="{{type}}" name="{{inputId}}" required {{#if minlength}}
      minlength="{{minlength}}" {{/if}} {{#if maxlength}} maxlength="{{maxlength}}" {{/if}} >
      <span class="bar"></span>
      <label for="{{inputId}}">{{#if icon}} <i class="icon {{icon}}"> </i>{{/if}} {{label}}</label>
   </div>
{{else}}
   <div class="text-input {{class}}"><input {{#if background}}class="text-input__grey"{{/if}} {{#if required}}required{{/if}} name="{{name}}" id="{{id}}" type="{{type}}" placeholder="{{placeholder}}" value="{{value}}"></div>
{{/if}}
</form>
<script>
    // validate the form when it is submitted
    var validator = $("#{{id}}").validate({
        errorPlacement: function(error, element) {
            // Append error within linked label
            $( element )
                .closest( "form" )
                    .find( "div[class='" + element.attr( "id" ) + "']" )
                        .prepend( error );
        },
        errorElement: "div",
        messages: {
            {{{inputId}}}: {
                required: " required",
                minlength: " must be between {{minlength}} and {{maxlength}} characters",
                maxlength: " must be between {{minlength}} and {{maxlength}} characters"
            }
        }
    });
    $(".cancel").click(function() {
        validator.resetForm();
    });
</script>