<div class="row">
	<div class="col-xs-12">
		<div class="app-block user-post-it">
			<div class="row">
				<div class="col-xs-12">
					<div class="user-post-it--meta">
						{{#userpostitMeta}}
							<div class="postit-avatar">
								{{>PartialAvatar}}
							</div>
							<div class="postit-author">{{author}}</div>
							<div class="postit-timestamp">{{{timestamp}}}</div>
						{{/userpostitMeta}}
					</div>
				</div>	
			</div>		
			<div class="row">
				<div class="col-xs-12">
					<div class="user-post-it__content">
						{{#if userpostitContent}}
						{{#userpostitContent}}
							{{#if content}}
								<p>{{{content}}}</p>
							{{else}}
								<p>...</p>
							{{/if}}
						{{/userpostitContent}}
						{{else}}
							<p>...</p>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				{{#userpostitActionBlock}}
				{{>PartialPostItActionBar}}
				{{/userpostitActionBlock}}
			</div>
		</div>

	</div>
</div>