
<div class="app-block">
    <div class="cropper__container">
        <label class="label--profile-picture">{{cropperLabel}}</label>
        <a class="naked-button--strict pull-right" onclick="$('#fileUpload').click();" id="upload-new-img" type="button" form="{{formId}}">
            {{uploadNewButtonText}}
        </a>
        <div id="image-wrapper">
            <div id="image-holder" class="image-holder">
                <img src="{{imageSrc}}" id="image" class="image avatar">
            </div>
        </div>
        <button class="solid-button--neutral" id="cropShow" type="button" form="{{formId}}">
            {{CropImageButtonText}}
        </button>
        <button class="solid-button--neutral" id="cropHide" type="button" form="{{formId}}">
            {{cancelCropButtonText}}
        </button>
        <button onclick="loadingButton(this);" class="solid-button--happy" id="save-image" type="submit" form="{{formId}}">
             <div class="btn__loading-container"><span class="btn__loading-circle">&nbsp;</span><span class="btn__loading-circle">&nbsp;</span><span class="btn__loading-circle">&nbsp;</span><span class="btn__loading-circle">&nbsp;</span></div>
             {{saveCropButtonText}}
        </button>
        <div class="upload" style="height:0px;overflow:hidden">
            <input type="file" name="{{fileName}}" id="fileUpload" accept="image/jpg,image/png,image/jpeg,image/gif" form="{{formId}}"/>
        </div>
        <input type="hidden" name="cropData" id="cropData" form="{{formId}}">
    </div>
</div>
<script src="https://cdn.rawgit.com/fengyuanchen/cropper/v1.0.0-rc.1/dist/cropper.min.js"></script>
<link href="https://cdn.rawgit.com/fengyuanchen/cropper/v1.0.0-rc.1/dist/cropper.min.css" rel="stylesheet">
<script type="text/javascript">

        $('#save-image').hide();
        $('#cropHide').hide();
        {{#if hideCropper}}
            $('#cropShow').hide();
        {{/if}}
        var $image = $('#image-holder > .image');

        $('#fileUpload').on('change', function() {
                $('#cropShow').hide();
                $('#cropHide').show();
                if (typeof (FileReader) !== 'undefined') {
                        var image_holder = $('#image-holder');
                        var reader = new FileReader();
                        reader.onload = function(e) {
                                $('#save-image').show();
                                $image.one('built.cropper', function(){}).cropper('reset').cropper('replace', e.target.result).cropper('setAspectRatio', {{#if community}}10 / 3{{else}}1 / 1{{/if}});
                        }
                        reader.readAsDataURL($(this)[0].files[0]);
                } else {
                        alert("This browser does not support FileReader.");
                }
                $image.cropper({
                            crop: function(e) {
                                    $('#cropData').val(JSON.stringify(e));
                            }
                    });
            });
		// todo: make aspectRatio variable
        $('#cropShow').click(function() {
                $image.cropper({
                        aspectRatio: {{#if community}}10 / 3{{else}}1 / 1{{/if}},
                        crop: function(e) {
                                $('#cropData').val(JSON.stringify(e));
                        }
                    });
                $('#cropHide').show();
                $('#save-image').show();
                $( this ).hide();
            });

        $('#cropHide').click(function() {
                $image.cropper('destroy');
                {{#unless hideCropper}}
                    $('#cropShow').show();
                {{/unless}}
                $('#upload-new-img').show();
                $('#save-image').hide();
                $('#cropData').val('');
                $(this).hide();
        });
</script>
