<div class="row">
	<div class="col-xs-12">
		<div class="app-block event-post-it">
			<div class="row">
				<div class="col-xs-12">
					<div class="event-post-it--meta">
						{{#eventpostitMeta}}
							<div class="postit-avatar">
								{{>PartialAvatar}}
							</div>
							<div class="postit-author">{{author}}</div>
							<div class="postit-timestamp">Event created on {{{timestamp}}}</div>
						{{/eventpostitMeta}}
					</div>
				</div>	
			</div>
			<div class="row">
					<div class="event-post-it__header-image">
						{{#eventHeaderImage}}
							<a href="{{href}}">{{>PartialCoverImage}}</a>
						{{/eventHeaderImage}}
					</div>
			</div>		
			<div class="row">
				<div class="col-xs-12">
					<div class="event-post-it__content">
						{{#if eventpostitContent}}
						{{#eventpostitContent}}
								<a class="event-post-it__title" href="{{href}}">{{eventTitle}}</a>
								<p><span class="event-post-it--bold">When&#58;</span> {{eventDate}}</p>		
								<p><span class="event-post-it--bold">Where&#58;</span> {{eventLocation}}</p>
						{{/eventpostitContent}}
						{{else}}
							<p>...</p>
						{{/if}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="event-post-it__action-bar">
						{{#each eventpostitActions}}
							{{>PartialButton}}
						{{/each}}
						{{#if eventpostitLikes}}
						{{#eventpostitLikes}}
							<a class="naked-button--strict hover pull-right">{{number}} people like this</a>					
						{{/eventpostitLikes}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		{{#if comments}}
		<div class="post-it__comments">
			<div class="app-block--no-bg event-post-it">
				{{#each comments}}
					<div class="row">
						<div class="col-xs-12">
							<div class="comment-author-avatar">{{>PartialAvatar}}</div>
							<div class="comment--meta"><span class="comment-author">{{author}} </span> <span class="comment-timestamp"> {{timestamp}}</span></div>
							<div class="comment-content"><p>{{{content}}}</p></div>
						</div>
					</div>
				{{/each}}
			</div>
		{{/if}}
		{{#if commentInputField}}
			<div class="app-block--no-bg event-post-it-input">
				{{#commentInputField}}
					<div class="row">
						<div class="col-xs-12">
							<div class="comment-author-avatar">{{>PartialAvatar}}</div>
							<div class="comment__text-input">{{>PartialTextInput}}</div>
							<div class="comment__text-input-button">{{>PartialButton class="solid-button--happy pull-right"}}</div>
						</div>
					</div>
				{{/commentInputField}}
			</div>
		</div>
		{{/if}}
	</div>
</div>