<div class="row">
  <div class="col-xs-12">
    <div class="alert {{class}}" id="{{id}}">
      <div class="row">
        <div class="col-xs-10 ">
            <div class="alert-icon pull-left"> <i class="icon {{icon}}"></i></div>
          {{#if title}}
            <div class="title pull-left"><b> {{title}} </b></div>
          {{/if}}
          {{#if message}}
            <div class="message pull-left"> {{message}}
              {{#if link}} <a href="{{{href}}}">{{link}}</a> {{/if}}
            </div>
          {{/if}}
        </div>
        <div class="col-xs-1 pull-right">
          {{#if button}}
            {{#each button}}
              <div class="alert-button pull-right">{{>PartialButton action="$(this).closest('.alert').animate({left:'-=20',opacity: 0},500,function(){$(this).closest('div.alert').hide()})"}}</div>
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
