<form method="{{method}}" class="form" action="{{action}}" id="{{id}}" enctype="{{enctype}}">
	{{#if formTitle}}
		<h4>{{{formTitle}}}</h4>
	{{/if}}
	{{#if invisibleInputs}}
		{{#each invisibleInputs}}
			<input id="{{inputId}}" value="{{value}}" type="{{type}}" name="{{inputId}}">
		{{/each}}
	{{/if}}
	{{#each inputs}}
		<div class="form__input">
			<div class="{{inputId}}">
			    <input id="{{inputId}}" value="{{value}}" class="inputMaterial" type="{{type}}" name="{{inputId}}" {{#if required}}required{{/if}} {{#if minlength}}
			    minlength="{{minlength}}" {{/if}} {{#if maxlength}} maxlength="{{maxlength}}" {{/if}} >
			    <span class="bar"></span>
			    <label for="{{inputId}}">{{label}}</label>
	   	</div>
		</div>
	{{/each}}
	{{#each selects}}
		<div class="form__select">
			<div class="{{selectId}}">
				<select id="{{selectId}}" name="{{selectId}}" {{#if required}}required{{/if}}>
				  {{#each options}}
				    <option value="{{#unless title}}{{value}}{{/unless}}"  {{#if title}}disabled selected="selected"{{/if}}>{{option}}</option>
				    <label class="{{selectId}}" for="{{selectId}}">{{value}}</label>
				  {{/each}}
				</select>
			</div>
		</div>
	{{/each}}
	{{#each textareas}}
		<div class="form__textarea">
			<div class="{{textareaId}}">
				<textarea value="{{value}}" name="{{textareaId}}" class="inputMaterial" id="{{textareaId}}" cols="{{cols}}" rows="{{rows}}" {{#if required}}required{{/if}}>{{value}}</textarea>
				<span class="bar"></span>
			    <label for="{{textareaId}}">{{label}}</label>
			</div>
		</div>
	{{/each}}
	{{!-- <input class="submit" type="submit" value="Submit"> --}}
	{{#each buttons}}
		<span class="form-button pull-right">{{>PartialButton type="submit"}}</span>
	{{/each}}
	{{#if cancel}}
		<span class="form-button pull-right"><a href="#" novalidate name="cancel" id="cancel" class="solid-button--neutral">Cancel</a></span>
	{{/if}}
</form>
<script>
    // validate the form when it is submitted
    var validator = $("#{{id}}").validate({
    	ignore: [],
        errorPlacement: function(error, element) {
            // Append error within linked label
            $( element )
                .closest( "form" )
                    .find( "div[class='" + element.attr( "id" ) + "']" )
                        .append( error );
        },
        errorElement: "span",
        success: "valid"
  		// submitHandler: function() { alert("Submitted!") }
    });
	$('select[name="mySelect"]').on('change', function() { // fires when the value changes
	    $(this).valid(); // trigger validation on hidden select
	});
    $("#cancel").click(function() {
	    validator.resetForm();
    	$(this).closest('form').find("input").val("");
});
$(function(){
$('select').selectric();
  // Cache the target element
var $selectValue = $('#select_value').find('strong');
// Get initial value
$selectValue.text($('#get_value').val());
// Initialize Selectric and bind to 'change' event
$('#get_value').selectric().on('change', function() {
  $selectValue.text($(this).val());
});
}());
</script>
