<form method="{{method}}" class="form" action="{{action}}" id="{{id}}" enctype="{{enctype}}">
	{{#if formTitle}}
		<h4>{{{formTitle}}}</h4>
	{{/if}}
	{{#if invisibleInputs}}
		{{#each invisibleInputs}}
			<input id="{{inputId}}" value="{{value}}" type="{{type}}" name="{{inputId}}">
		{{/each}}
	{{/if}}
	{{#each inputs}}
		<div class="form__input">
			<div class="{{inputId}}">
			    <input id="{{inputId}}" placeholder="{{placeholder}}" value="{{value}}" class="inputMaterial" type="{{type}}" name="{{inputId}}" {{#if required}}required{{/if}} {{#if minlength}}
			    minlength="{{minlength}}" {{/if}} {{#if maxlength}} maxlength="{{maxlength}}" {{/if}} >
			    <span class="bar"></span>
			    <label for="{{inputId}}">{{label}}{{#if required}}<span class="input-required"> {{#if requiredText}} ({{requiredText}}){{else}}(Required){{/if}}</span>{{/if}}</label>
	   	</div>
		</div>
	{{/each}}
	{{#each selects}}
	<div class="row">
		<div class="col-xs-6">
		<div class="form__select">
			<div class="{{selectId}}">
				<select id="{{selectId}}" name="{{selectId}}" {{#if required}}required{{/if}}>
				  {{#each options}}
				    <option value="{{value}}" {{#if selected}} selected="selected" {{/if}}>{{option}}</option>
				  {{/each}}
				</select>
				<label class="label" for="{{selectId}}">{{label}}{{#if required}}<span class="input-required"> {{#if requiredText}} ({{requiredText}}){{else}}(Required){{/if}}</span>{{/if}}</label>
			</div>
			</div>
		</div>
		<div class="col-xs-6">
			{{#if formButton}}
				<a href="{{href}}" class="naked-button--strict form__link">{{formButton}}</a>
			{{/if}}
		</div>
		</div>
	{{/each}}
	{{#each textareas}}
		<div class="form__textarea">
			<div class="{{textareaId}}">
			    <label for="{{textareaId}}">{{label}}{{#if required}}<span class="input-required"> {{#if requiredText}} ({{requiredText}}){{else}}(Required){{/if}}</span>{{/if}}</label>
				<textarea value="{{value}}" placeholder="{{placeholder}}" name="{{textareaId}}" class="inputMaterial" id="{{textareaId}}" cols="{{cols}}" rows="{{rows}}" {{#if required}}required{{/if}}>{{value}}</textarea>
				<span class="bar"></span>
			</div>
		</div>
	{{/each}}
	{{!-- <input class="submit" type="submit" value="Submit"> --}}
	{{#each buttons}}
		<span class="form-button pull-right">{{>PartialButton type="submit"}}</span>
	{{/each}}
	{{#if cancel}}
		<span class="form-button pull-right"><a href="#" novalidate name="cancel" id="cancel" class="solid-button--neutral">Cancel</a></span>
	{{/if}}
</form>
<script>
    // validate the form when it is submitted
    var validator = $("#{{id}}").validate({
		// debug: true,
		ignore: [],
        errorPlacement: function(error, element) {
            // Append error within linked label
            $( element )
                .closest( "form" )
                    .find( "div[class='" + element.attr( "id" ) + "']" )
                        .prepend( error );
        },
				rules: {
      		password: {
		        equalTo: "#firstPassword"
		      },
    		},
				messages: {
		      password: {
		        equalTo: "Please enter the same password as above"
		      }
		    },
        errorElement: "div",
        success: "valid",
  		submitHandler: function(form) {
			var theLoadingButton = $("#{{id}}").find('button');
			var buttonColor = $(theLoadingButton).css('color');
			$(theLoadingButton).addClass('btn__loader');
		    theLoadingButton.css('color', 'rgba(0,0,0,0)');
			setTimeout(function() {
			    $(theLoadingButton).removeClass('btn__loader');
			    theLoadingButton.css('color', buttonColor);
			}, 30000);
			form.submit();
		}
    });
	$('select[name="mySelect"]').on('change', function() { // fires when the value changes
	    $(this).valid(); // trigger validation on hidden select
	});
    $("#cancel").click(function() {
	    validator.resetForm();
    	$(this).closest('form').find("input").val("");
});
$(function(){
$('select').selectric({
	disableOnMobile: false
});
  // Cache the target element
var $selectValue = $('#select_value').find('strong');
// Get initial value
$selectValue.text($('#get_value').val());
// Initialize Selectric and bind to 'change' event
$('#get_value').selectric().on('change', function() {
  $selectValue.text($(this).val());
});
}());
</script>
