<button {{#if disabled}}disabled{{/if}} class="{{class}} {{#if borderLeft}} border-left
{{/if}}" id="{{id}}" name="{{name}}" type="{{type}}" value="{{value}}" onclick="{{action}}">{{#if content}}{{{content}}}{{/if}}</button>
