<div class="nav side-nav app-block" id="{{id}}">
{{#if communitySwitch}}
	{{#each navCommunities}}
		{{>PartialCommunitySwitch}}
	{{/each}}
	{{!-- {{>PartialIcon}} --}}
{{/if}}
{{#if title}}
<div class="nav-title">
	{{#if navTitleIcon}}<i class="nav-title__icon {{navTitleIcon}}"></i>{{/if}}
	{{navTitle}}
{{#if button}}
	<div class="nav-title__button pull-right">{{>PartialButton}}</div>
{{/if}}
</div>
{{/if}}
{{#if subTitle}}
<div class="sub-title">
	<span class="category">{{category}}</span>
	<span class="name">{{name}}</span>
</div>
{{/if}}
	<li class="first"></li>
	{{#navItems}}
		{{>PartialNavItem}}
		{{#if dropdown}}
			{{#dropdown}}
				{{> PartialDropdown}}
			{{/dropdown}}
		{{/if}}
	{{/navItems}}
{{#if navActionBar}}
	{{#navActionBarButtons}}
		<li class="nav__action-bar__button">{{>PartialButton}}</li>
	{{/navActionBarButtons}}
{{/if}}
	<li class="last"></li>
</div>
<script type="text/javascript">
  var activator = function() {
    function checkIfActiveUrl(sideNavLink, sideNavUrl) {
      if ($(location).attr('pathname') == sideNavLink || $(location).attr('href') == sideNavLink) {
				// console.log(sideNavLink);
        activateMe.addClass('side-nav--active');
        activateMe.parent().siblings().children().removeClass('side-nav--active');
      }
    };
    var sideNavLinks = $('.side-nav li a');
    var activateMe;
    sideNavLinks.each(function() {
      activateMe = $(this);
      var thisLink = this.pathname;
			var thisUrl = $(this).attr('href');
			// console.log(thisLink);
			// console.log(thisUrl);
			// console.log($(location).attr('pathname'));
			// console.log($(location).attr('href'));

      checkIfActiveUrl(thisLink, thisUrl);
    });
  }();
	$('.side-nav li a').on("click", function() {
    $(this).parent().siblings().children().removeClass('side-nav--active');
    $(this).addClass('side-nav--active');
  });
</script>
