<ul class="nav">
	<li class="dropdown {{class}}" id="dropdown">
		{{{dropdownItem}}}
		<ul class="nav drop-nav">
			{{#each dropdownOptions}}
				<li>
					<a id="{{class}}" href="{{href}}">
						{{option}}
					</a>
				</li>
			{{/each}}
		</ul>
	</li>
</ul><script>{{script}}</script>