<li class="dropdown" id="dropdown">
	<span class="dropdown-item"><h4>{{{dropdownItem}}}</h4></span>
	{{#if icon}}<i class="{{icon}}"></i>{{/if}}
	{{#if badge}}<span class="dropdown-badge">{{dropdownOptions.length}}</span>{{/if}}
	<ul class="nav drop-nav">
		{{#each dropdownOptions}}
			<li>
				{{#if optionCat}}<div class="option-catagory">{{option}}</div>{{else}}<a id="{{id}}" class="{{class}}" href="{{href}}">{{option}}</a>{{/if}}
			</li>
		{{/each}}
	</ul>
<script>{{script}}</script>
</li>
