<div class="dialog {{#if angry}}dialog--angry {{else}}dialog--strict {{/if}}" id="{{id}}">
	<div class="row"> 
		<div class="col-xs-3">
			<span class="dialog-icon"> <i class="icon {{#if angry}}icon-solid-fire {{else}}icon-solid-flag{{/if}}"></i></span>
		</div>
		<div class="col-xs-9">
			<div class="dialog-title">
				{{#if title}}<span class="title"><b> {{title}} </b></span>{{/if}}
			</div>
			<div class="dialog-message">
				{{#if message}}<span class="message"> {{message}} {{#if link}} <a href="{{{href}}}">{{link}}</a> {{/if}}</span>{{/if}}
			</div>
		</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="dialog-actions">
				{{#if button}}{{#each button}}<span class="dialog-button pull-right">{{>PartialButton class="naked-button--strict"}}</span>{{/each}}{{/if}}
			</div>
		</div>
	</div>
</div>