<div class="text-area {{class}}"><textarea {{#unless nobackground}}class="text-input__grey"{{/unless}} {{#if required}}required{{/if}} name="{{name}}" id="{{id}}" type="text" placeholder="{{placeholder}}" value="{{value}}"></textarea></div>
	  

